# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# IntelliJ IDEA
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/httpRequests
.idea/**/dataSources
.idea/**/dataSources.local.xml
# Conservar MediCare.iml en el repositorio del curso si lo deseas versionar
# *.iml
out/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
